*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#search {
  width: 100%;
  font-size: 16px;
  padding: 10px 18px;
  border: 0;
  color: #181d1f;
  background: #f8f8f8;
}

#grid {
  flex: 1;
}
